@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  text-decoration: none;
  list-style: none;

  -webkit-box-sizing: border-box;
  box-sizing: border-box
}